<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block class="date_search_by_period" th:fragment="date_search_by_period">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/date_search_by_period.css(date=${todayFormat})}" type="text/css">

    <!--
     ★ - 주간, 월간, 연간 조회를 할 수 있는 기간 조회 기능입니다.
     ※ step1. 작업중인 HTML 의 원하는 위치에 아래 태그를 입력해 주세요.
     <th:block th:replace="fragments/date_search_by_period :: date_search_by_period"></th:block>

     ※ step2. 작업중인 HTML 하단에 아래 JS 를 삽입해 주세요.
        - js 중복 문제가 발생 할 수 있기에 따로 추가 해주셔야합니다.
    <script th:src="@{/js/utils/date_util.js(date=${todayFormat})}" type="text/javascript"></script>
     -->

    <!--
    아래 parameter 를 controller 에서 주고받고 해야합니다.
    (참고 : StatisticsController > statistics > "기간 조회 > ~~ " 로 시작하는 주석 참고
    -->
    <input id="dateType" th:value="${dateType}" type="hidden"/>
    <input id="requestUrl" th:value="${requestUrl}" type="hidden">
    <input id="startDate" th:value="${startDate}" type="hidden">
    <input id="endDate" th:value="${endDate}" type="hidden">
    <input id="requestDate" th:value="${requestDate}" type="hidden">

    <!-- dateSearchType = 기간 조회 타입 (월간 = monthly, 주간 = weekly, 연간 = yearly, 둘다 = all) -->
    <div class="check_box _check_box_date _weekly" th:if="${dateSearchType} == 'weekly' or ${dateSearchType} == 'all'">
        <input id="weekSearch" name="dateType" th:checked="${dateType} == '2'" type="radio"
               value="2">
        <label for="weekSearch"></label>
        <span class="_dateType">주간</span>
    </div>

    <div class="check_box _check_box_date _weekly" th:if="${dateSearchType} == 'monthly' or ${dateSearchType} == 'all'">
        <input id="monthSearch" name="dateType" th:checked="${dateType} == '1'" type="radio"
               value="1">
        <label for="monthSearch"></label>
        <span class="_dateType">월간</span>
    </div>

    <div class="check_box _check_box_date" th:if="${dateSearchType} == 'yearly' or ${dateSearchType} == 'all'">
        <input id="yearSearch" name="dateType" th:checked="${dateType} == '3'" type="radio"
               value="3">
        <label for="yearSearch"></label>
        <span class="_dateType">연간</span>
    </div>

    <!-- 이전 버튼 -->
    <div class="salesman_search">
        <div class="prev_btn pn_btn _prePage">
            <a aria-label="Previous"
               class="page-link previous _a_pre" href="javascript:void(0)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </div>
    </div>

    <!-- 월간 조회 -->
    <div class="salesman_search" th:if="${dateType} == 1">
        <input class="_search_month_date" hidden readonly th:value="${requestDate}" type="text">
    </div>

    <!-- 주간 조회 -->
    <div class="date_box search_deta" th:if="${dateType} == 2">
        <input class="_search_start_date" readonly th:value="${startDate}" type="date">
    </div>

    <div class="date_box search_deta" th:if="${dateType} == 2">
        <input class="_search_end_date" readonly th:value="${endDate}" type="date">
    </div>

    <!-- 연간 조회 -->
    <div class="salesman_search" th:if="${dateType} == 3">
        <input class="_search_year_date" hidden readonly th:value="${requestDate}" type="text">
    </div>

    <!-- 다음 버튼 -->
    <div class="salesman_search">
        <div class="next_btn pn_btn _nextPage">
            <a aria-label="Next" class="page-link next _a_next" href="javascript:void(0)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </div>
    </div>

    <!-- 월간, 주간 조회 js 첨부-->
    <script th:src="@{/js/utils/date_search_by_period.js(date=${todayFormat})}" type="text/javascript"></script>
</th:block>
</html>