<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="eventListFragment">
    <div class="top_center_menu_visual">
        <div class="top_center-menu">
            <!-- 처리 결과 여부 -->
            <input id="isSuccess" th:value="${isSuccess}" type="hidden"/>
            <input id="message" th:value="${message}" type="hidden"/>

            <input id="orderBy" th:value="${orderBy}" type="hidden"/>

            <div class="top_left_menu" style="margin-left:27px;">
                <input type="hidden" id="_category" th:value="${category}">
                <div class="check_box _check_box_category">
                    <input id="category_99" name="category" type="radio"
                           th:checked="${99 == category}"
                           value="99">
                    <label for="category_99"></label>
                    <span class="_check_category">전체</span>
                </div>

                <div class="check_box _check_box_category" th:each="ce : ${eventCategoryEnum}">
                    <input th:id="'category_'+${ce.index}" name="category" type="radio"
                           th:checked="${ce.index == category}"
                           th:value="${ce.index}">
                    <label th:for="'category_'+${ce.index}"></label>
                    <span class="_check_category">[[${ce.meaning}]]</span>
                </div>

                <div th:if="${requestUrl == '/event/eventOperation'}" class="add_box">
                    <a th:href="@{/event/addEvent}">
                        이벤트추가
                    </a>
                </div>
            </div>

            <div class="top_right_menu">
                <th:block th:replace="fragments/search_fragment :: search_fragment"></th:block>
            </div>
        </div>

        <div class="main_center_wrap">
            <input type="hidden" id="isOperation" th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation'">
            <div class="daily_title">
                <ul>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation1'">NO</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation2'">제목</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation3'">현황</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation4'">작성자</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation5'">등록일</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation6'"
                        th:if="${requestUrl == '/event/eventOperation'}">수정</li>
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation7'"
                        th:if="${requestUrl == '/event/eventOperation'}">삭제</li>
                </ul>
            </div>

            <div class="daily_sub_txt">
                <ul th:each="el : ${eventList.getList()}">

                    <!-- 이벤트 번호 (eventCode) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation1'">
                        <a th:href="@{/event/eventInfoList(eventCode=${el.eventCode})}" class="_eventCode" th:text="${el.eventCode}">1</a>
                    </li>

                    <!-- 이벤트 제목 (title) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation2'">
                        <a th:href="@{/event/eventInfoList(eventCode=${el.eventCode})}" class="_title" th:value="${el.title}"><div class="title_inner">
                            <div class="praise" th:text="${el.getEventCategoryEnum.meaning}"></div>
                            <div class="praise" th:text="${el.getEventCoverageEnum.meaning}"></div>
                            [[${el.title}]]</div>
                        </a>
                    </li>

                    <!-- 이벤트 기간 및 현황 (startDate ~ endDate / getEventStatusEnum.meaning) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation3'">
                        <a th:href="@{/event/eventInfoList(eventCode=${el.eventCode})}">[[${el.startDate}]]&nbsp;~&nbsp;[[${el.endDate}]]&nbsp;&nbsp;[[${el.getEventStatusEnum.meaning}]]</a>
                    </li>

                    <!-- 이벤트 작성자 (createEmployeeName) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation4'">
                        <a th:href="@{/event/eventInfoList(eventCode=${el.eventCode})}" th:text="${el.createEmployeeName}"></a>
                    </li>

                    <!-- 이벤트 등록일 (createEmployeeCode) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation5'">
                        <a th:href="@{/event/eventInfoList(eventCode=${el.eventCode})}" th:text="${el.createDate}"></a>
                    </li>

                    <!-- 이벤트 수정 (updateEvent) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation6'" th:if="${requestUrl == '/event/eventOperation'}">
                        <a th:href="@{/event/updateEvent(eventCode=${el.eventCode})}">수정</a>
                    </li>

                    <!-- 이벤트 삭제 (deleteEvent) -->
                    <li th:classappend="${requestUrl == '/event/eventOperation'} ? 'eventOperation7'" th:if="${requestUrl == '/event/eventOperation'}" class="_deleteEvent">
                        <a>삭제</a>
                    </li>
                </ul>
            </div>

            <!-- pageNation -->
            <th:block th:replace="fragments/page_nation :: page_nation"></th:block>
        </div>
    </div>

    <!-- event list -->
    <script th:src="@{/js/event/eventList.js}" type="text/javascript"></script>

    <!-- checkBox -->
    <script th:src="@{/js/list_check_box.js}" type="text/javascript"></script>
</div>

