<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Left CompanyChart Start -->
<div class="sales_goals" th:fragment="mainsalesFragment">
  <form>
    <div class="goalswrap">
      <div class="cell_title">
        <h2 class="texthidden">영업</h2>
        <h2>목표 금액</h2>
        <h2>달성률</h2>
      </div>
      <div class="put_selftext_box">
        <div class="last_weekbox">
          <span>지난주</span>
          <h2 class="texthidden">영업</h2>
          <!-- 지난 주 수정불가 -->
          <textarea rows="1" disabled placeholder="10,000,000"></textarea>
          <p class="att_rate">100%</p>
        </div>
        <!-- 이번주와 다음주는 수정가능 클릭시 active 클래스 붙는 것들 css 확인요망 -->
        <div class="this_weekbox active">
          <span>이번주</span>
          <div class="btnbox">
            <!-- modifybtn이 클릭되면 해당 weekbox에 액티브추가 -->
            <!-- 디폴트상태 -->
            <button class="modify_btn _this_modify"></button>
            <input class="submit_btn" type="submit" value="">
          </div>
          <textarea rows="1" placeholder="15,000,000" id="this_week"></textarea>
          <p class="att_rate">100%</p>
        </div>
        <div class="next_weekbox">
          <span>다음주</span>
          <div class="btnbox">
            <!-- modify를 클릭하면 modify에 close클래스 추가 와 함께 submit 버튼 open클래스 추가 -->
            <button class="modify_btn hide _this_modify"></button>
            <input class="submit_btn open" type="submit" value="">
          </div>
          <textarea rows="1" placeholder="1,000,000" id="next_week"></textarea>
          <p class="att_rate">0%</p>
        </div>
      </div>
    </div>
  </form>
</div>
</html>

