<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="siHeaderFragment">
    <!-- header -->
    <header class="header">
        <div class="main_inner">
            <h1><a>KH GROUP</a></h1>

            <nav>
                <ul>
                    <li>
                        <a th:href="@{/potential/counseling}">고객관리</a>
                    </li>
                    <li><a th:href="@{/contractFortune/contractFortune}">계약관리</a></li>
                </ul>
            </nav>
            <div class="mypage">
                <!-- <div class="header_search">
                    <input placeholder="Search" type="text">
                    <img alt="검색" th:src="@{/images/img/search_icon.png}" />
                </div> -->

                <div class="my_box">
                    <a href="/logout"><img th:src="@{/images/img/back.png}"></a>
                </div>
            </div>
        </div>

        <!-- mypage 클릭 -->
        <div class="account_box my_pop1">
            <th:block th:replace="popup/myPop :: myPopFragment"></th:block>
        </div>
    </header>
</header>