<!DOCTYPE html>
<html lang="ko" layout:decorate="@{layout/defaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="pageCss">
    <link href="/toastUi/css/toastUi.css" rel="stylesheet">
    <link href="/toastUi/css/toastUi-editor-plugin-table-merged-cell.css" rel="stylesheet">
    <link href="/toastUi/css/tui-color-picker.css" rel="stylesheet">
    <link href="/toastUi/css/toastUi-editor-plugin-color-syntax.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/worksheet/worksheet.css(date=${todayFormat})}" type="text/css">
</th:block>
<th:block layout:fragment="side_contents">
    <div th:replace="fragments/sideFaCompany :: sideFaCompanyFragment"></div>
</th:block>

<th:block layout:fragment="contents">
    <form enctype="multipart/form-data" id="updateQuestion" method="post">
        <div class="top_center_menu_visual">
            <div class="main_center_wrap">
                <div class="top_title">
                    <h2>자유 게시판 작성하기</h2>
                </div>
                <div class="Khlist">
                    <dl class="list_view01">
                        <dt>작성자</dt>
                        <dd><span th:text="${questionContents.createEmployeeName}"></span></dd>
                    </dl>

                    <dl class="list_view02">
                        <dt>등록일</dt>
                        <dd><span th:text="${questionContents.createDate}"></span></dd>
                    </dl>

                    <dl class="list_view03">
                        <dt>제목</dt>
                        <dd>
                            <div class="title_input">
                                <input id="title" maxlength="50" name="title" th:value="${questionContents.title}" type="text">
                            </div>
                        </dd>
                    </dl>

                    <dl class="list_view03">
                        <dt>머리말</dt>
                        <dd>
                            <div class="name_box">
                                <select class="preface_select" name="category">
                                    <option th:each="bc : ${questionCategory}" th:text="${bc.getMeaning}"
                                            th:value="${bc.getIndex}"
                                            th:selected="${bc.getIndex} == ${questionContents.category}"></option>
                                </select>
                            </div>
                        </dd>
                    </dl>

                    <dl class="list_view03">
                        <dt></dt>
                        <dd>
                            <div class="name_box">

                            </div>
                        </dd>
                    </dl>

                    <dl class="list_view04 heightUp">
                        <dt>내용</dt>
                        <p hidden id="contents" name="contents" th:text="${questionContents.contents}"></p>
                        <div id="editor"></div>
                    </dl>

                    <dl class="list_view03">
                        <dt class="viewdt_flex">첨부파일</dt>
                        <dd>
                            <div id="fileListDiv">
                                <p id="maxMsg" th:if="${#lists.size(fileList) == 5 }">파일은 최대 5개까지 업로드 가능합니다</p>

                                <div class="fileNameBef" th:if="${#lists.size(fileList) < 5 }">
                                    <input name="file" type="file" class="selectFile">
                                </div>
                                <div th:each=" fl: ${fileList}"  class="fileName">
                                    <input th:value="${fl}"name='fileNameDb' hidden>
                                    <a id="fileListBtn">x</a> <span th:text="${fl}"></span>

                                </div>
                        </dd>
                    </dl>
                </div>

                <div class="save_btn_wrap">
                    <div>
                        <button class="close_btn _cancelBtn" type="button">취소</button>
                        <button class="close_btn btn_color _submitBtn" type="submit">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="pageScript">
    <!-- Color Picker -->
    <script src="/toastUi/js/tui-color-picker.js"></script>
    <!-- Editor -->
    <script src="/toastUi/js/toastUi.js"></script>
    <!-- Editor's Plugin -->
    <script src="/toastUi/js/toastUi-editor-plugin-table-merged-cell.js"></script>
    <script src="/toastUi/js/toastUi-editor-plugin-color-syntax.js"></script>
    <script src="/js/multiFile.js"></script>
    <script th:src="@{/js/question/updateQuestion.js(date=${todayFormat})}"></script>
</th:block>


</html>