._li0 {
    width:20px !important;
}

._li1 {
    width:110px !important;
}

._li2 {
    width:80px !important;
}

._insuranceState {
    width:65px !important;
}

._li3 {
    width:80px !important;
}

._achieveCheck {
    width:65px !important;
}

._li4 {
    width:100px !important;
}

._insuranceCategory {
    width:90px !important;
}

._li5 {
    width:110px !important;
}

._li6 {
    width:160px !important;
}

._li7 {
    width:110px !important;
}

._li8 {
    width:110px !important;
}

._li9 {
    width:110px !important;
}

._li10 {
    width:110px !important;
}

._li11 {
    width:65px !important;
}

._li12 {
    width:65px !important;
}

._li13 {
    width:65px !important;
}

._documentCheck {
    background : #f0f5ff;
}
