<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>메인</title>

    <link th:href="@{/css/common.css(date=${todayFormat})}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/inCompany.css(date=${todayFormat})}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/vietnam/css.css(date=${todayFormat})}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="/lib/jquery-3.6.0.min.js"></script>
    <script th:src="@{/lib/moment.js}"></script>
    <script th:src="@{/js/side_drop_down.js(date=${todayFormat})}" type="text/javascript"></script>
    <script th:src="@{/js/vietnam/list.js(date=${todayFormat})}" type="text/javascript"></script>

</head>

<body>
    <input id="cloudUrlAndPath" th:value="${cloudUrlAndPath}" hidden="true">

    <div id="wrap">

        <!-- header -->
        <header class="header" sec:authorize="hasAnyAuthority('VIETNAM')">

            <div class="main_inner">

                <h1><a th:href="@{/}">HOME</a></h1>

                <div class="mypage">

                    <div class="my_box">

                        <a href="/logout"><img src="/images/img/back.png"></a>

                    </div>

                </div>

            </div>

        </header>

        <header sec:authorize="hasAnyAuthority('VIETNAM_ADMIN')" th:replace="fragments/header :: headerFragment">
        </header>
        <!-- main start ! -->
        <main>
            <section class="main_section">
                <div class="main_inner">

                    <div class="main_section-flex">
                        <!-- side -->
                        <div class="main_side_wrap">

                            <div class="quick_box">

                                <th:block layout:fragment="side_contents">
                                    <div th:replace="fragments/sideVietnam :: sideVietnamFragment"></div>
                                </th:block>
                            </div>

                        </div>
                        <!-- center -->
                        <div class="main_center">



                            <div class="top_center_menu_visual">

                                <div class="top_center-menu">

                                </div>

                                <div class="main_center_wrap">
                                    <!-- table -->

                                    <div class="table-topmenu">
                                        <h2 class="tw_title">JW GLOBAL DOC</h2>
                                    </div>

                                    <table id="table-wrap" class="_reload">
                                        <thead>
                                            <tr>
                                                <th class="title-bgc03">NO.</th>
                                                <th class="title-bgc03">PO NO.<br />(Purchase order)</th>
                                                <th class="title-bgc03">BL NO.</th>
                                                <th class="title-bgc03">ETD</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="_pList" th:each=" jl : ${jwGlobalList}" th:classappend="|${jl.state == 2 ? '_finish' : ''} ${jl.state == 3 ? '_hold' : ''} |">
                                                <td class="_poIdxNo" th:text="${jl.poIdxNo}">1</td>
                                                <td class="_poNo" th:value="${jl.poNo}"><a th:href="@{/vietnam/novelis/jwGlobal/info(poIdxNo=${jl.poIdxNo})}" th:text="${jl.poNo}">PO_1806_6341908390_1</a></td>
                                                <td th:text="${jl.blNo}">MEDUV1986375</td>
                                                <td>
                                                    <div class="date_box">
                                                        <input class="date-txt" type="date" th:value="${jl.etd}" disabled>
                                                        <button th:if="${jl.state == 1}" class="Edit-btn" type="button" value="etd">EDIT</button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>





                                    <!-- table end -->
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>

            <footer id="footer">





            </footer>

        </main>

    </div>

</body>

</html>