._employee {
    width:60px !important;
}

._potentialUser {
    width:60px !important;
}

._amount {
    width:100px !important;
}

._interest {
    width:80px !important;
}

._interestPlus {
    width:80px !important;
}

._totalRepayment {
    width:100px !important;
}

._editTotalRepayment {
    height : 30px;
    width : 80px;
    color:#7c7f84;
    border : 1px solid #edf0f5;
}

._endDate {
    width:100px !important;
}

._repayment_type {
    width:100px !important;
}

._account {
    width:180px !important;
}

._noteArea {
    width:200px !important;
}

._note {
    height: 50px;
    padding: 5px 0px;
    resize: none;
    vertical-align: middle;
    border:1px solid #e4e8f0;
    box-sizing: border-box;
    border-radius: 1px;
    color:#7c7f84;
    outline-color: #cdd0d8;
    outline-width:2px;
    text-align : center;
}

._contractCode {
    width:100px !important;
}

._redemptionDate, ._redemptionDate > div, ._redemptionDate > div > input {
    width:120px !important;
}
._no_margin {
    margin : 0 0 0 0 !important;
}

._select_repayment_type {
    width:80%;
    height:30px;
    border:2px solid #e4e8f0;
    box-sizing: border-box;
    border-radius: 2px;
    color:#9499a3;
}

.search_deta:first-child:after {
    content : '' !important;
}