<!DOCTYPE html>
<html lang="en" layout:decorate="@{layout/defaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="side_contents">
    <div th:replace="fragments/sideOperation :: sideOperationFragment"></div>
</th:block>
<th:block layout:fragment="contents">

    <input id="isSuccess" th:value="${isSuccess}" type="hidden" />
    <input id="errorMessage" th:value="${errorMessage}" type="hidden" />

    <div class="container">
        <div class="py-5 text-center" id="namefile">
            <h2>잠재고객 엑셀파일 업로드</h2>
        </div>
        <div>
            <form accept="text/csv" action="/potential/uploadFile/fileAdd" class="file" enctype="multipart/form-data"
                  method="post">
                <input id="fileName" name="fileName" type="file" />
                <input id="uploadBtn" type="submit" value="업로드" />
            </form>
        </div>
    </div>

</th:block>

<th:block layout:fragment="pageScript">
    <script th:src="@{/js/uploadFile.js(date=${todayFormat})}"></script>
</th:block>
</html>