<!DOCTYPE html>
<html lang="en" layout:decorate="@{layout/defaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/contractFortune/contractFortune.css(date=${todayFormat})}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/list_check_box.css(date=${todayFormat})}" type="text/css">
</th:block>
<th:block layout:fragment="side_contents">

    <div th:unless="${#authorization.expression('hasAnyAuthority(''SI_COMPANY'', ''FA_COMPANY'')')}">
        <div th:replace="fragments/sideContractFortune :: sideContractFortuneFragment"></div>
    </div>

    <!--si company 권한 있을 경우 사이드바 -->
    <div th:if="${#authorization.expression('hasAnyAuthority(''SI_COMPANY'')')}">
        <div th:replace="fragments/sideSiCompany :: sideSiCompanyFragment"></div>
    </div>

    <!--fa company 권한 있을 경우 사이드바 -->
    <div th:if="${#authorization.expression('hasAnyAuthority(''FA_COMPANY'')')}">
        <div th:replace="fragments/sideFaCompany :: sideFaCompanyFragment"></div>
    </div>

</th:block>
<th:block layout:fragment="contents">

    <!-- 검색 관련 세팅 -->
    <input id="searchValue" th:value="${searchValue}" type="hidden"/>
    <input id="searchKey" th:value="${searchKey}" type="hidden"/>

    <!-- 처리 결과 여부 및 메세지 -->
    <input id="isSuccess" th:value="${isSuccess}" type="hidden"/>
    <input id="message" th:value="${message}" type="hidden">

    <input id="getDepartmentCode" th:value="${departmentCode}" type="hidden"/>
    <input id="getEmployeeCode" th:value="${employeeCode}" type="hidden"/>
    <input id="getTeamCode" type="hidden"/>

    <input id="isPublic" value="true" type="hidden"/>

    <div class="top_center_menu_visual">
        <div class="top_center-menu">
            <div class="top_left_menu _top_left_menu">
                <!-- 부서, 팀, 담당자 선택 select -->
                <th:block  sec:authorize="hasAnyAuthority('PARTIAL_SELECT_BOX')" th:replace="fragments/select_department_employee_part :: select_department_employee_part" ></th:block>
                <th:block sec:authorize="!hasAnyAuthority('PARTIAL_SELECT_BOX')" th:replace="fragments/select_department_employee :: select_department_employee"></th:block>
                <div class="add_box2 _check_contract" sec:authorize="hasAnyAuthority('CONTRACT_CHECK')"><a>계약확인</a></div>
            </div>

            <div class="top_right_menu">
                <div class="date_box search_deta">
                    <input class="_search_start_date" th:value="${startDate}" type="date">
                </div>
                <div class="date_box search_deta">
                    <input class="_search_end_date" th:value="${endDate}" type="date">
                </div>

                <select class="select_box _searchKey">
                    <option th:data-isDate="${scl.isDate}"
                            th:each="scl : ${searchCateList}"
                            th:selected="${scl.meaning} == ${searchKey}"
                            th:text="${scl.meaning}"></option>
                </select>

                <div class="salesman_search">
                    <input class="_searchValue" placeholder="검색" th:value="${searchValue}" type="text">
                    <img alt="검색" class="_searchBtn" th:src="@{/images/img/search_icon.png}"/>
                </div>
            </div>
        </div>

        <!-- 목돈 계약 리스트 -->
        <div class="main_center_wrap">
            <div class="main_top">
                <div>
                    <ul class="contract_main_title">
                        <li class="_main_first_txt">
                            <label for="checkbox"></label>
                            <input id="checkbox" type="checkbox">
                        </li>
                        <li>계약번호</li>
                        <li>계약구분</li>
                        <li>본부</li>
                        <li>지점</li>
                        <li>팀</li>
                        <li>직급</li>
                        <li>담당자</li>
                        <li>고객</li>
                        <li>금액</li>
                        <li>이자율</li>
                        <li>이자</li>
                        <li>계좌번호</li>
                        <li>계약일</li>
                        <li>계약기간</li>
                        <li>입금날짜</li>
                        <li>종료일</li>
                        <li>상환날짜</li>
                        <li>이자구분</li>
                        <li>특이사항</li>
                    </ul>
                </div>

                <div class="contract_sub_txt">
                    <ul class="_contract_sub_title _sub_ul" th:each="cfl : ${contractFortuneList.getList()}"
                        th:value="${cfl.contractCode}">
                        <li class="sub_first_txt _checkbox_li _sub_first_txt" th:classappend="${!#authorization.expression('hasAnyAuthority(''CONTRACT_CHECK'')')} ? '_NOT_AUTH'">
                            <label class="_sub_label" for="checkbox"></label>
                            <input class="_sub_check" id="checkbox" type="checkbox">
                        </li>
                        <li th:text="${cfl.contractNumber}" th:value="${cfl.contractCode}"></li>
                        <li th:text="${cfl.contractStateName}"></li>
                        <li th:text="${cfl.departmentSettingDto.centralDepartmentName}"></li>
                        <li th:text="${cfl.departmentSettingDto.salesDepartmentName}"></li>
                        <li th:text="${cfl.departmentSettingDto.teamDepartmentName}"></li>
                        <li th:text="${cfl.positionName}"></li>
                        <li th:text="${cfl.employeeName}" th:value="${cfl.employeeCode}"></li>
                        <li th:text="${cfl.potentialUserName}" th:value="${cfl.potentialUserNo}"></li>
                        <li th:text="${cfl.amountPlusComma}"></li>
                        <li th:text="${cfl.interestRatePercent}"></li>
                        <li th:text="${cfl.interest}"></li>
                        <li th:text="${cfl.accountNo}"></li>
                        <li th:text="${cfl.contractDate}"></li>
                        <li th:text="${cfl.contractPeriod}+ 개월"></li>
                        <li th:text="${cfl.paymentDate}"></li>
                        <li th:text="${cfl.endDate}"></li>
                        <li th:text="${cfl.redemptionDate}"></li>
                        <li th:text="${cfl.interestStateName}"></li>
                        <li th:text="${cfl.note}"></li>
                    </ul>
                </div>
            </div>

            <!-- pageNation -->
            <th:block th:replace="fragments/page_nation :: page_nation"></th:block>
        </div>
    </div>
</th:block>

<th:block layout:fragment="pagePop">
    <!-- 계약 현황 팝업 -->
    <th:block th:replace="popup/contract_chart :: contract_chart_fragment"></th:block>
</th:block>

<th:block layout:fragment="pageScript">
    <!-- checkBox -->
    <script th:src="@{/js/list_check_box.js(date=${todayFormat})}" type="text/javascript"></script>

    <!-- contractChart -->
    <script th:src="@{/js/contractFortune/contract_chart.js(date=${todayFormat})}" type="text/javascript"></script>

    <script th:src="@{/js/contractFortune/checkContractFortune.js(date=${todayFormat})}" type="text/javascript"></script>

    <script th:src="@{/js/select_department_employee.js(date=${todayFormat})}" type="text/javascript"></script>
</th:block>
</html>