<!DOCTYPE html>
<html lang="en" layout:decorate="@{layout/defaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="pageCss">

</th:block>
<th:block layout:fragment="side_contents">

    <div th:unless="${#authorization.expression('hasAnyAuthority(''SI_COMPANY'', ''FA_COMPANY'')')}">
        <div th:replace="fragments/sideContractFortune :: sideContractFortuneFragment"></div>
    </div>

    <!--si company 권한 있을 경우 사이드바 -->
    <div th:if="${#authorization.expression('hasAnyAuthority(''SI_COMPANY'')')}">
        <div th:replace="fragments/sideSiCompany :: sideSiCompanyFragment"></div>
    </div>

    <!--fa company 권한 있을 경우 사이드바 -->
    <div th:if="${#authorization.expression('hasAnyAuthority(''FA_COMPANY'')')}">
        <div th:replace="fragments/sideFaCompany :: sideFaCompanyFragment"></div>
    </div>

</th:block>
<th:block layout:fragment="contents">
    <input type="hidden" id="contractCode" th:value="${contractFortuneDto.contractCode}">
    <div class="guest_deta_wrap">
        <div class="guest_deta_box">
            <h2>목돈 계약 상세 정보</h2>
            <div class="guest_deta">
                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>본부</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.departmentSettingDto.centralDepartmentName}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>지점</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.departmentSettingDto.salesDepartmentName}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>팀</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.departmentSettingDto.teamDepartmentName}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>직급</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.positionName}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>담당자</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.employeeName}"></span>
                        <input type="hidden" class="_employeeCode" th:value="${contractFortuneDto.employeeCode}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>고객</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${contractFortuneDto.potentialUserName}"></span>
                        <input type="hidden" class="_potentialUserNo" th:value="${contractFortuneDto.potentialUserNo}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>공개여부</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${isPublic} ? '공개' : '비공개'"></span>
                        <input class="_isPublic" type="hidden" th:value="${isPublic}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p class="none">공백</p>
                    </div>
                    <div class="contract_list_box">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="guest_deta_box _contractList" th:each="cfl : ${contractFortuneList}" style="margin-bottom:60px;">
            <div class="guest_deta">
                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계약번호</p>
                    </div>
                    <div class="contract_list_box">
                        <span name="contractCode" th:text="${cfl.contractNumber}"
                              th:value="${cfl.contractCode}"></span>
                        <input class="_contractCode" type="hidden" th:value="${cfl.contractCode}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계약구분</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.contractStateName}"></span>
                        <input class="_contractState" type="hidden" th:value="${cfl.contractState}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>금액</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.amountPlusComma}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계약기간</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.contractPeriod}+ 개월"></span>
                        <input class="_contractPeriod" type="hidden" th:value="${cfl.contractPeriod}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>이자구분</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.interestStateName}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>이자율</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.interestRatePercent}"></span>
                        <input class="_interestRate" type="hidden" th:value="${cfl.interestRate}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>이자</p>
                    </div>
                    <div class="contract_list_box">
                        <span class="_interest" th:text="${cfl.interest}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계좌번호</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.accountBankName}"></span>
                        <span th:text="${cfl.accountNo}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계약일</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.contractDate}"></span>
                        <input class="_contractDate" type="hidden" th:value="${cfl.contractDate}">
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>입금날짜</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.paymentDate}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>종료일</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.endDate}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>상환날짜</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.redemptionDate}"></span>
                    </div>
                </div>
                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>특이사항</p>
                    </div>
                    <div class="contract_list_box" th:if="${cfl.note.length > 0}">
                        <span class="_noteText"
                              style="display:block;
                                     width:350px;
                                     margin-right:50px;
                                     white-space:nowrap;
                                     overflow:hidden;
                                     text-overflow:ellipsis;"
                              th:text="${cfl.note}"></span>
                        <button class="close_btn _noteBtn" type="button">
                            상세 보기
                        </button>
                    </div>
                </div>
                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>확인자</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:if="${cfl.checkContract == 'Y' && cfl.checkEmployeeName != ''}" th:text="${cfl.checkEmployeeName +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;확인시간&nbsp;:&nbsp;'+ cfl.checkTime+'&nbsp;)'}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>계약관리</p>
                    </div>
                    <div class="contract_list_box">
                        <a th:href="@{/contractFortune/updateContractFortune(contractCode=${cfl.contractCode}, isPublic=${isPublic})}">
                            <button style="margin:0;" class="close_btn btn_color" sec:authorize="hasAnyAuthority('CONTRACT_MANAGER', 'FA_COMPANY')">수정</button>
                        </a>
                        <button style="margin-left:10px;" class="close_btn _deleteBtn" sec:authorize="hasAnyAuthority('CONTRACT_MANAGER', 'FA_COMPANY')" th:if="${cfl.checkContract == 'N'} and ${isPublic}">삭제</button>
                        <button style="margin-left:10px;" class="close_btn _deletePrivateBtn" sec:authorize="hasAnyAuthority('CONTRACT_MANAGER', 'FA_COMPANY')" th:if="${!isPublic}">삭제</button>
                    </div>
                </div>
                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>이관 사항</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:if="${cfl.transferCheck == 'Y'}">이전 담당자 : [[${cfl.beforeEmployeeName}]]</span>
                        <span th:if="${cfl.transferCheck == 'N'}">없음</span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name star">
                        <p>기본 수수료율</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.charge}"></span>
                    </div>
                </div>
                <div class="contract_list">
                    <div class="contract_list_name star">
                        <p>프로모션 수수료율</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.promotionCharge}"></span>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('CONTRACT_MANAGER')" class="contract_list">
                    <div class="contract_list_name star">
                        <p>팀장 오버라이딩</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.teamOver}"></span>
                    </div>
                </div>
                <div sec:authorize="hasAnyAuthority('CONTRACT_MANAGER')" class="contract_list">
                    <div class="contract_list_name star">
                        <p>지점장 오버라이딩</p>
                    </div>
                    <div class="contract_list_box">
                        <span th:text="${cfl.branchOver}"></span>
                    </div>
                </div>

                <div class="contract_list">
                    <div class="contract_list_name">
                        <p>지점운영비 여부</p>
                    </div>
                    <div class="contract_list_box">
                        <div class="expenses">
                            <input class="expensesYes" id="expensesYes" th:checked="${cfl.isExpense == 'Y'}" name="isExpense" type="checkbox"
                                   value="Y" disabled>
                            <label for="expensesYes">예</label>
                        </div>
                        <div class="expenses">
                            <input class="expensesNo" id="expensesNo" th:checked="${cfl.isExpense == 'N'}" name="isExpense" type="checkbox"
                                   value="N" disabled>
                            <label for="expensesNo">아니오</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 해당 css 수정 : 팝업 화면 가운데 띄우기 -->
        <div class="advice_save_visual pop5" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="close_btn_wrap">
                <div class="close_btn_img _close_div"><img src="/images/img/close_btn.png"></div>
            </div>
            <div class="deta_advice_wrap">
                <div class="advice_menu">
                    <div class="advice_left_menu">
                        <div class="advice_left_menu">
                            <h3>특이사항</h3>
                        </div>
                    </div>
                </div>

                <div class="advice_txt_wrap">
                    <div class="advice_txt_inner">
                        <div class="last_txt" style="padding-top:0;">
                            <span class="_contents">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="save_btn_wrap _close_div" style="padding:0; padding-bottom:40px;">
                    <div>
                        <button class="close_btn cbt _close_pop">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글 -->
    <div th:unless="${checkContract == 'Y'}">
        <th:block th:replace="fragments/reply :: reply"></th:block>
    </div>

    <div class="save_btn_wrap">
        <div>
            <a href="javascript:void(0);">
                <button class="close_btn _close_btn">취소</button>
                <button class="close_btn btn_color _extensionBtn" sec:authorize="hasAnyAuthority('CONTRACT_MANAGER', 'FA_COMPANY')" onclick="stateBtn(this);">연장</button>
                <button class="close_btn btn_color _increaseBtn" sec:authorize="hasAnyAuthority('CONTRACT_MANAGER', 'FA_COMPANY')" onclick="stateBtn(this);">증액</button>
            </a>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script th:src="@{/js/contractFortune/contractFortune_info.js(date=${todayFormat})}" type="text/javascript"></script>

    <!-- 문자열 유틸 -->
    <script type="text/javascript" th:src="@{/js/utils/string_custom_util.js(date=${todayFormat})}"></script>
</th:block>
</html>