<!DOCTYPE html>
<html lang="ko" layout:decorate="@{layout/defaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="pageCss">
</th:block>
<th:block layout:fragment="side_contents">
    <div th:replace="fragments/sideNotice :: sideNoticeFragment"></div>
</th:block>
<th:block layout:fragment="contents">

    <!-- 검색 -->
    <input id="searchTitle" th:value="${searchTitle}" type="hidden">
    <input id="type" th:value="${type}" type="">


    <div class="top_center_menu_visual">

        <div class="top_center-menu">

            <button class="writing_btn"><a href="/notice/addNotice">글쓰기</a></button>

            <div class="notice_search">
                <select class="select_box">
                    <!-- <option value="all">전체</option> -->
                    <option value="title">제목</option>
                    <!-- <option value="contents">내용</option> -->
                    <!-- <option value="titleContents">제목+내용</option> -->
                    <!-- <option value="attachFile">첨부파일</option> -->
                    <option value="writer" th:selected="${searchType}=='writer'">작성자</option>
                    <option value="createDate" th:selected="${searchType}=='createDate'">등록일</option>
                </select>

                <div class="salesman_search">
                    <input type="text" id="keyword" placeholder="검색" th:value="${keyword}">
                    <img src="/images/img/search_icon.png" class="_searchBtn" alt="검색" />
                </div>
            </div>

        </div>

        <div class="main_center_wrap">

            <div class="notice_title">
                <ul>
                    <li>NO</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>등록일</li>
                </ul>
            </div>

            <div class="notice_sub_txt">

                <ul th:each="nl : ${noticeList.getList()}">
                    <li><a th:href="@{/notice/contents(noticeNo=${nl.noticeNo},pageNum=${pageNum},title=${searchTitle},type=${nl.type})}"
                            th:text="${nl.noticeNo}"></a></li>
                    <li>
                        <a
                            th:href="@{/notice/contents(noticeNo=${nl.noticeNo},pageNum=${pageNum},title=${searchTitle},type=${nl.type})}">
                            <div class="title_inner">
                                <div class="praise" th:text="${nl.typeTitle}"></div>
                                [[${nl.title}]]
                            </div>

                            <div th:if="${nl.isNew}" class="new"><img src="/images/img/new.png"></div>
                            <div th:if="${nl.isFileExist}" class="title_file"><img src="/images/img/file.png"></div>

                        </a>
                    </li>
                    <li><a th:href="@{/notice/contents(noticeNo=${nl.noticeNo},pageNum=${pageNum},title=${searchTitle},type=${nl.type})}"
                            th:text="${nl.createEmployeeName}"></a></li>
                    <li><a th:href="@{/notice/contents(noticeNo=${nl.noticeNo},pageNum=${pageNum},title=${searchTitle},type=${nl.type})}"
                            th:text="${nl.getCreateDate()}"></a></li>
                </ul>


            </div>

        </div>

    </div>


    <!-- next btn -->
    <th:block th:replace="fragments/page_nation :: page_nation"></th:block>

</th:block>


<th:block layout:fragment="pageScript">
    <script th:src="@{/js/notice/list.js}"></script>
</th:block>


</html>