<!DOCTYPE html>
<html lang="en" layout:decorate="@{layout/mainDefaultFragment}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/index/index_contract_chart.css(date=${todayFormat})}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index/index.css(date=${todayFormat})}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index/commandBoard.css(date=${todayFormat})}" type="text/css">
    <link href="/toast-calendar/css/tui-time-picker.css" rel="stylesheet" type="text/css">
    <link href="/toast-calendar/css/tui-date-picker.css" rel="stylesheet" type="text/css">
    <link href="/toast-calendar/css/tui-calendar-home.css" rel="stylesheet" type="text/css">
    <link href="/toast-calendar/css/default-home.css" rel="stylesheet" type="text/css">
    <link href="/toast-calendar/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/toastUi/css/toastUi.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</th:block>

<th:block layout:fragment="side_contents">
    <div th:replace="fragments/sideIndex :: sideIndexFragment"></div>
</th:block>

<th:block layout:fragment="contents">

    <input hidden id="employeeCode" th:value="${employeeCode}">
    <input hidden id="employeeLoginCode" th:value="${employeeLoginCode}">
    <!-- 처리 결과 여부 -->
    <input id="isSuccess" th:value="${isSuccess}" type="hidden"/>
    <input id="message" th:value="${message}" type="hidden"/>

    <!-- 공지사항 -->
    <div class="post_visual">
        <!-- 지점장공지사항 -->
        <div th:replace="index/commandBoard :: commandBoardFragment"></div>

        <!-- 상단 배너 -->
<!--        <div th:replace="index/banner :: bannerFragment"></div>-->
        <div class="top_post_wrap">
            <!-- Kh 소식 -->
            <div class="post_container">

                <div class="post_title">
                    <h2>KH소식</h2>
                </div>


                <div class="news_story_wrap">
                    <div class="news_story">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/notice/list?type=0}">공지사항</a></h3>
                        </div>

                        <ul>
                            <li th:each="nl : ${noticeList}">
                                <a th:href="@{/notice/contents(noticeNo=${nl.noticeNo},pageNum=1,type=0)}">
                                    <div class="list_inner" th:text="${nl.title}"></div>
                                    <div class="new2" th:if="${nl.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="news_story">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/notice/list?type=1}">지점공지</a></h3>
                        </div>

                        <ul>
                            <li th:each="ml : ${monthlyList}">
                                <a th:href="@{/notice/contents(noticeNo=${ml.noticeNo},pageNum=1,type=1)}">
                                    <div class="list_inner"><em th:text="${ml.categoryName}"></em>[[${ml.title}]]</div>
                                    <div class="new2" th:if="${ml.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="news_story">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/notice/list?type=3}">교육자료</a></h3>
                        </div>

                        <ul>
                            <li th:each="el : ${eduList}">
                                <a th:href="@{/notice/contents(noticeNo=${el.noticeNo},pageNum=1,type=3)}">
                                    <div class="list_inner" th:text="${el.title}"></div>
                                    <div class="new2" th:if="${el.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="news_story ">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/notice/list?type=2}">보도자료</a></h3>
                        </div>

                        <ul>

                            <li th:each="al : ${articleList}">
                                <a th:href="@{/notice/contents(noticeNo=${al.noticeNo},pageNum=1,type=2)}">
                                    <div class="list_inner"><em th:text="${al.categoryName}"></em>[[${al.title}]]</div>
                                    <div class="new2" th:if="${al.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <!-- 커뮤니티 -->
            <div class="post_container">

                <div class="post_title">
                    <h2>커뮤니티</h2>
                </div>

                <div class="news_story_wrap">
                    <div class="news_story">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/faq/list}">FAQ</a></h3>
                        </div>

                        <ul class="Faq">

                            <li th:each="fl : ${faqList}">
                                <a th:href="@{/faq/list(faqNo=${fl.faqNo})}">
                                    <div class="list_inner">
                                        <em id="emFaq" th:text="${fl.getTypeMeaning}"></em>[[${fl.title}]]
                                    </div>
                                    <div class="new2" th:if="${fl.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="news_story">

                        <div class="post_sub_title">
                            <h3><a th:href="@{/board/list}">자유 게시판</a></h3>
                        </div>

                        <ul class="Faq">

                            <li th:each="bl : ${boardList}">
                                <a th:href="@{/board/boardInfo(boardNo=${bl.boardNo})}">
                                    <div class="list_inner">
                                        <em th:text="${bl.getCategoryMeaning}"></em>[[${bl.title}]]
                                    </div>
                                    <div class="new2" th:if="${bl.isNew}"><img src="/images/img/new.png"></div>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!-- 리스트-->
        <div class="manage_visual">
            <div class="manage_box">
                <div class="post_title">
                    <h2>고객관리</h2>
                    <span class="view_more2"><a th:href="@{/potential/potentialManage}">더보기</a></span>
                </div>

                <div class="manage_sub_list">
                    <h3>신규고객</h3>
                    <table>
                        <tr th:each="pl : ${potentialManageList.getList()}">
                            <td><a href="#" th:text="${pl.potentialUserNo}"></a></td>
                            <td><a href="#" th:text="${pl.potentialUserName}"></a></td>
                            <td><a href="#" th:text="${pl.mobile}"></a></td>
                            <td><a href="#" id="location" th:text="${pl.cityNameByLocation}"></a></td>
                            <td><a href="#" th:text="${pl.averagePay}"></a></td>
                            <td><a href="#" th:text="${pl.note}"></a></td>
                        </tr>
                    </table>
                </div>

                <div class="manage_sub_list">
                    <h3>고객리스트</h3>
                    <table>
                        <tr th:each="pcl : ${potentialUserCounselingList.getList()}">
                            <td><a href="#" th:text="${pcl.potentialUserNo}"></a></td>
                            <td><a href="#" th:text="${pcl.potentialUserName}"></a></td>
                            <td><a href="#" th:text="${pcl.mobile}"></a></td>
                            <td><a href="#" th:text="${pcl.cityNameByLocation}"></a></td>
                            <td><a href="#" th:text="${pcl.averagePay}"></a></td>
                            <td><a href="#" th:text="${pcl.note}"></a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="manage_box">
                <input id="reportEmployeeCode" th:value="${reportEmployeeCode}" type="hidden">
                <div class="post_title">
                    <h2>계약관리</h2>
                    <span class="view_more2"><a th:href="@{/contractFortune/contractFortune}">더보기</a></span>
                </div>

                <div class="achievement">
                    <h3>achievement</h3>
                    <span id="today"></span>
                </div>

                <div class="chart_box">
                    <div class="chart">
                        <div class="chart_bar1"></div>
                    </div>
                    <div class="chart">
                        <div class="chart_bar2"></div>
                    </div>
                    <div class="chart">
                        <div class="chart_bar3"></div>
                    </div>
                    <div class="chart">
                        <div class="chart_bar4"></div>
                    </div>
                </div>

                <div class="money_gage">
                    <div class="achievement">
                        <h3>MONTHLY REPORT</h3>
                    </div>
                    <div class="gage_box">
                        <span>목돈</span>
                        <div class="money money1">
                            <div class="money_bar1 money_bar"></div>
                        </div>
                    </div>

                    <div class="gage_box">
                        <span>보험</span>
                        <div class="money money2">
                            <div class="money_bar2 money_bar"></div>
                        </div>
                    </div>

                    <div class="gage_box">
                        <span>펀드</span>
                        <div class="money money3">
                            <div class="money_bar3 money_bar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="manage_box managebox_num3">
                <div class="mini_manage_box">
                    <input id="getEmployeeCode" th:value="${employeeCode}" type="hidden" />

                    <div id="menu">
                        <div class="post_title">
                            <span id="menu-navi">
                                <button class="btn btn-default btn-sm move-day" data-action="move-prev" type="button">
                                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                                </button>
                                <button class="btn btn-default btn-sm move-day" data-action="move-next" type="button">
                                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                                </button>
                            </span>
                            <span class="render-range" id="renderRange"></span>

                            <span class="view_more2"><a href="/schedule/schedule">더보기</a></span>
                        </div>
                    </div>


                    <div id="calendar"></div>


                </div>


                <div class="mini_manage_box">

                    <div class="post_title">
                        <h2>업무일지</h2>
                        <span class="view_more2"><a th:href="@{/worksheet/document/documentList}">더보기</a></span>
                    </div>

                    <ul th:each="wl : ${workLogList}">
                        <li>
                            <a th:href="@{/worksheet/document/documentInfo(workLogNo=${wl.workLogNo})}">
                                <div class="main_today_img">
                                    
                                    <img th:if="${#strings.isEmpty(wl.imageUrl)}" src="/images/img/quick_my.png">
                                    <img th:unless="${#strings.isEmpty(wl.imageUrl)}" th:src="${wl.imageUrl}">   
                                    <p class="hover_name" th:text="${wl.employeeName}"></p>

                                
                                </div>
                                <div class="main_today_txt">
                                    <p>[[${wl.title}]]</p>
                                    <dl class="today_subtxt sub_item">
                                        <dt>작성일 :</dt>
                                        <dd>[[${wl.createTime}]]</dd>
                                    </dl>
                                    <dl class="today_subtxt">
                                        <dt>결제일 :</dt>
                                        <dd>[[${wl.paymentWorkLogTime}]]</dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="pageScript">
    <script src="/toastUi/js/toastUi.js"></script>
    <script src="/toast-calendar/js/bootstrap.js"></script>
    <script src="/toast-calendar/js/tui-code-snippet.min.js"></script>
    <script src="/toast-calendar/js/tui-time-picker.min.js"></script>
    <script src="/toast-calendar/js/tui-date-picker.min.js"></script>
    <script src="/toast-calendar/js/moment.min.js"></script>
    <script src="/toast-calendar/js/chance.min.js"></script>
    <script src="/toast-calendar/js/tui-calendar.js"></script>
    <script src="/toast-calendar/js/tui-calendar-home.js"></script>
    <script th:src="@{/toast-calendar/js/calendars.js(date=${todayFormat})}"></script>
    <script th:src="@{/toast-calendar/js/schedules.js(date=${todayFormat})}"></script>
    <script th:src="@{/toast-calendar/js/app-home.js(date=${todayFormat})}"></script>

    <script th:src="@{/js/index/index_contract_chart.js(date=${todayFormat})}" type="text/javascript"></script>
    <script th:src="@{/js/index/index_request_chart.js(date=${todayFormat})}" type="text/javascript"></script>
    <script th:src="@{/js/index/staffHome.js(date=${todayFormat})}" type="text/javascript"></script>

<!--    <script th:src="@{/js/banner/youtubeIframeApi.js(date=${todayFormat})}" type="text/javascript"></script>-->
<!--    <script th:src="@{/js/banner/swiper.js(date=${todayFormat})}" type="text/javascript"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>-->
</th:block>
</html>